body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    width: 100%;
    height: 100vh;
    background: plum;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cat {
    justify-content: center;
    align-items: center;
    display: flex;
}

.cat img {
    border: 3px;
    border-style: dashed;
    border-color: hotpink;
    border-radius: 20px;
    margin: 10px;
}

button{
    padding: 1em;
    border-width: 4px;
    border-radius: 20px;
    font-size: x-large;
    text-align: center;
    color: #000;
    cursor: pointer;
    display: flex;
    margin: 6px;
}

#etenKnop:hover, #douchenKnop:hover, #slaapKnop:hover, #refreshButton:hover{
    background-color: rgb(167, 106, 225);
    
}

.heart{
    display: flex;
    text-align: center;
    float: center;
    width: 9px;
    height: 15px;
}